body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f8ff;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #74baf4;
    color: white;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

nav {
    background-color:#74baf4;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.2em;
}

nav a:hover {
    text-decoration: underline;
}

section {
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h2 {
    font-size: 2em;
    margin-bottom: 15px;
    color: #74baf4;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-weight: bold;
}

input, select {
    padding: 12px;
    border: 2px solid #74baf4;
    border-radius: 5px;
    font-size: 1em;
}

button {
    padding: 12px;
    border: none;
    background-color: #28a745;
    color: white;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #218838;
}

#beds {
    font-size: 1.5em;
    font-weight: bold;
    color: #69d682;
    margin-top: 15px;
}

#queueNumber, #waitingTime {
    font-size: 1.5em;
    font-weight: bold;
    color: #74baf4;
    margin-top: 15px;
}

footer {
    background-color: #74baf4
    padding: 10px;
    text-align: center;
    margin-top: 20px;
}
